.parte1 {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-bottom: 10vh;
    width: 100%;
}

.detalles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fotos p {
    margin-left: 2vw;
    margin-top: 2vh;
}

.nombreCientifico p {
    margin-top: 2vh;
    margin-left: 2vw;
}

.imagen1{
    border-radius: 5%;
    height: 45vh;
}

@media screen and (max-width: 1360px) {

}