.contenido {
    width: 90%;
    height: 100%;
    margin-top: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SobreLaApp{
    height: 40%;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}

.grid {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 3vh;
}

.gridDiv {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridDiv h4 {
    
    width: 100%;
    font-size: 1.2rem;
}

.fotoIcon {
    height: 5vh;
    margin-right: 1vw;
}

.gridDiv p {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
    .contenido {
        width: 100%;
        height: 100%;
        padding-top: 10vh;
        margin-top: 0;
    }

    .SobreLaApp{
        height: 15%;
        width: 95%;
        font-size: 0.85rem;
        margin-bottom: 6vh;
    }

    .grid {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .title {
        width: 90%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;  
        margin-bottom: 2vh;
    }

    .gridDiv {
        width: 90%;
    }

    .fotoIcon {
        width: 20vw;
        margin-right: 0;
    }

    .gridDiv h4 {
        font-size: 1.2rem;
        margin-left: 3vw;

    }

    .gridDiv p {
        height: 50%;
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        margin-left: 10vw;
        margin-bottom: 4vh;
    }

    
}



