.BG {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    object-position: center -450px;
    filter: blur(0.1rem);

}

.cont {
    background-color: rgba(0, 0, 0, 0.85);
    height: 100%;
    width: 100%;
    color: white;
}

.SobreAnuros {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;    
}

.SobreAnuros h1 {
    font-size: 3rem;
    margin-bottom: 8vh;
}

.SobreAnuros p {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 4vh; 
}

.DownloadButton {
    border: none;
    margin-top: 5vh;
    margin-bottom: 10vh;
    height: 10vh;
    width: 15vw;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: black;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 15vh;
}

.Down {
    border: none;
    margin-left: 32vw;
    height: 11vh;
    width: 5vw;
    border-radius: 50%;
    background: none;
}

.Back {
    border: none;
    margin-left: 3vw;
    margin-top: 6vh;
    height: 9vh;
    width: 4vw;
    border-radius: 50%;
    background: none;
    height: 6vh;
}

.arrow {
    height: 6vh;
}

.Conservacion {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Conservacion h2 {
    font-size: 3rem;
    margin-bottom: 3vh;
    margin-top: 8vh;
}

.Conservacion p {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 8vh;  
}

.Diversidad {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Diversidad h2 {
    font-size: 3rem;
    margin-bottom: 3vh;
    margin-top: 8vh;
}

.Diversidad p {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 8vh;  
}