.parte2 {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.imagen2 {
    width: 95%;
    height: 20vh;
    border-radius: 25px;
}

.nombreVulgar {
    width: 95%;
    height: 20vh;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0);
}

.nombreVulgar h2 {
    color: rgb(255, 157, 19);
}

.nombreVulgar p {
    margin-left: 1vw;
    margin-top: 2vh;
    width: 95%;
}

.detalles {
    margin-bottom: 2.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33.33% 33.33% 33.33%;
    padding: 5vw;
    padding-left: 10vw;
    gap: 20px;
}

.detalleItem {
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0);
    width: 95%;
    height: 20vh;
    
}

.detalleItem h2 {
    color: rgb(255, 64, 64);
}

.detalleItem p {
    margin-left: 1vw;
    margin-top: 2vh;
    width: 95%;
}


@media screen and (max-width: 1360px) {

    .parte2 {
        height: 70vh;
        margin-top: 30vh;
    }

    .divUno {
        margin-top: 5vh;
    }

    .detalles {
        margin-top: 10vh;
    }

}

@media screen and (max-width: 700px) {
    .parte2 {
        height: 100%;
    }

    .detalles {
        grid-template-columns: 1fr;
        grid-template-rows:10%;
        padding-left: 5vw;
    }

    .nombreVulgar {
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10vh;
    }

    .nombreVulgar p {
        text-align: center;
    }

    .imagenItem {
        border: 2px solid red;
        height: 20vh;
    }


    .detalleItem {
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15vh;
    }

    .detalleItem p {
        margin-left: 1vw;
        margin-top: 2vh;
        width: 95%;
        text-align: center;
    }

    .imagen2 {
        width: 95vw;
        height: 15vh;
        border-radius: 10px;
    }
}