.aprenderMasCont {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.bg {
    position: fixed;
    object-fit: cover;
    object-position: center;
    height: 150%;
    z-index: -99;
}

.introduccion {
    padding-top: 25vh;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    width: 85%;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .introduccion {
        padding-top: 15vh;
        font-size: 0.8rem;
        margin-top: 30vh;
        margin-bottom: 45vh;
    }
}