.backCont {
    position: fixed;
}

.Back {
    border: none;
    margin-left: 3vw;
    margin-top: 6vh;
    height: 9vh;
    width: 4vw;
    border-radius: 50%;
    background: none;
    height: 6vh;
}

@media screen and (max-width: 700px) {
    .backCont {
        position: fixed;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Back {
        height: 12vh;
        width: 7vw;
    }
}