.NavBar {
    position: fixed;
    width: 100%;
    right: 0;
    height: 15vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    z-index: 99;
}

.NavBarVisible {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.NavBarHidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.NavBar a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.anurNav{
    margin-top: 2.5vh;
    height: 10vh;
}