.integrante {
    width: 21vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 4px 10px black;
    background-color: rgba(0, 139, 0, 0.2);
}

.nombre {
    color: white;
    font-size: 1.2rem;
}

.funcion {
    color: white;
    font-size: 0.7rem;
}

@media screen and (max-width: 700px) {
    .integrante{ 
        height: 15vh;
        width: 41vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nombre {
        font-size: 1rem;
        margin-bottom: 1vh;
        text-align: center;
    }

    .funcion {
        font-size: 0.6rem;
        text-align: center;
    }
}