.perfil {
    height: 40vh;
}

.nombre {
    color: white;
    font-size: 1.5rem;
}

.funcion {
    color: white;
    font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
    .perfil {
        height: 30vh;
    }
    
    .nombre {
        font-size: 1rem;
        margin-bottom: 1vh;
    }

    .funcion {
        font-size: 0.6rem;
    }
}