.contenido2 {
    position: absolute;
    width: 90%;
    height: 80%;
    margin-top: 117vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quienesSomos {
    color: white;
    height: 30%;
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 4vh;
}

.carrete {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    gap: 15px;
}

@media screen and (max-width: 700px) {
    .contenido2 {
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 0;
        padding-top: 15vh;
    }

    .quienesSomos {
        width: 95%;;
        font-size: 0.85rem;
        margin-bottom: 10vh;
        
    }

    .carrete {
        height: 100%;
        width: 90%;
        overflow-x: scroll;
        margin-bottom: 10vh;
    }
}


